body {
  font-family: "Arial", sans-serif;
  background-color: #d3d3d3; /* Duman rengi (gri) */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Tam ekran yüksekliği */
}

.container {
  background-color: white; /* İçerik arka plan rengi */
  padding: 20px; /* İç boşluk */
  border-radius: 10px; /* Yuvarlatılmış köşeler */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Gölge */
  width: 400px; /* Sabit genişlik */
  text-align: center; /* Metinleri ortala */
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin-right: 10px;
  width: calc(100% - 120px); /* Genişlik ayarı */
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #66afe9;
  outline: none;
}

button {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s; /* Geçiş efektleri */
}

button:hover {
  background-color: #0056b3;
  transform: translateY(-2px); /* Yukarı kaydırma efekti */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hover sırasında gölge ekleme */
}
button.delete {
  background-color: #dc3545; /* Kırmızı arka plan */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 10px;
  transition: background-color 0.3s, transform 0.2s; /* Geçiş efektleri */
}

button.delete:hover {
  background-color: #c82333; /* Hover rengi */
  transform: translateY(-1px); /* Yukarı kaydırma efekti */
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

li {
  padding: 15px;
  margin: 5px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

li:hover {
  background-color: #f9f9f9;
}
